<article>
    <a href="/dashboard" class="go-to-dash"> &larr; Back to dashboard</a>
    <h2 class="allPost">
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div class="mb-3">
            <input class="form-control" name="post-title" type="text" value="{{post.title}}">
        </div>
        <div class="mb-3">
            <textarea class="form-control" rows="3" name="post-text" id="post-text">{{post.post_text}}</textarea>
        </div>
        {{!-- <div>
          <input name="post-text" type="text" value="{{post.post_text}}" />
        </div> --}}
        <div class="pb-2">
            Posted by {{post.user.username}} on {{format_date post.created_at}}
            |
            <a href="/api/posts/{{post.id}}">{{post.comments.length}} Comment(s)</a>
        </div>
        <button type="submit" class="btn btn-primary">Save post</button>
        <button type="button" class="delete-post-btn btn btn-danger">Delete post</button>
    </form>
</article>


<form class="comment-form pt-4">
    <div>
        <textarea class="form-control" rows="3" name="comment-body" id="post-text"></textarea>
    </div>

    <div class="py-2">
        <button type="submit" class="btn btn-success">Add comment</button>
    </div>
</form>

{{!-- using the comments partial to list current comments --}}
{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comments.js"></script>
