<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea name="post-text" id="post-text">{{post.post_text}}</textarea>
    </div>
    {{!-- <div>
      <input name="post-text" type="text" value="{{post.post_text}}" />
    </div> --}}
    <div>
      Posted by {{post.user.username}} on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} Comment(s)</a>
    </div>
    <button type="submit" class="btn btn-warning">Save post</button>
    <button type="button" class="delete-post-btn btn btn-danger">Delete post</button>
  </form>
</article>


<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-warning">add comment</button>
  </div>
</form>

{{!-- using the comments partial to list current comments --}}
{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>